{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Phishproof</title>
    <link rel="stylesheet" href="{% static 'phishproofapi/styles.css' %}">
    <link rel="icon" href="{% static 'phishproofapi/logo.ico' %}" type="image/x-icon">
</head>
<body id="home">
    <h1>Phishproof</h1>
    <ul id="nav">
        <li id="class-list-nav"><a href="class_list/">Class List</a></li>
        <li id="challenge-list-nav"><a href="challenge_list/">Challenges</a></li>
        <li id="profile-nav"><a href="profile/">Profile</a></li>
    </ul>
</body>
</html>