#home {
    background-color: #B0C4DE;
}
h1 {
    color: #F5FFFA;
}
#nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
#nav li a {
    color: #F5FFFA;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    background-color: #778899;
    text-decoration: none;
}
#home-nav a:hover,
#class-list-nav a:hover,
#challenge-list-nav a:hover,
#profile-nav a:hover {
    background-color: #708090;
}

#classes {background-color: #B0C4DE;}

#class-list { 
    background-color: #778899;
    color: #F5FFFA;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
}
#class-list a {
    color: #F5FFFA;
    text-decoration: underline;
}
#class-list a:hover{
    color: #B0E0E6;
}
#class-des {
    background-color: #B0C4DE;
}
#description {
    background-color: #778899;
    color: #F5FFFA;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
}